body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

.App {
  width: 80%;
  margin: auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  width: 20%;
  display: flex;
  line-height: 50px;
  font-size: 1.5em;
}

.logo img {
  height: 50px;
}

.menus {
  width: 80%;
}

.menus ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 0;
}

.menus ul li {
  padding: 5px 20px;
  font-size: 1.2em;
  font-weight: 800;
}

.menus ul li a {
  color: blue;
  text-decoration: none;
}

.menus ul li a:focus {
  text-decoration: underline;
}

.rockets-list {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: 15px;
  margin: 20px 0;
}

.rocket-element {
  display: flex;
}

.image-content {
  margin-right: 10px;
  display: flex;
  flex: 1;
}

.image-content img {
  max-width: 100%;
  max-height: 100%;
}

.rocket-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 3;
}

.rocket-info h3 {
  margin: 0;
}

.rocket-info button {
  color: white;
  background-color: #007bff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.my-profile {
  border-left: 1px solid black;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.mission-name {
  width: 20%;
}

.mission-description {
  width: 50%;
}

.mission-status,
.mission-action {
  width: 15%;
  text-align: center;
}

.status-field {
  font-size: 0.8em;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
}

.unavailable-ststus {
  background: gray;
}

.button-mission {
  padding: 5px 10px;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.join-mission {
  border: 1px solid gray;
  color: gray;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 468px) {
  .App {
    width: 90%;
    margin: auto;
  }

  .logo {
    width: 100%;
  }

  .menus {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
  }

  .menus ul {
    justify-content: space-around;
    color: #fff;
  }

  .menus ul li {
    font-size: 0.98em;
  }
}
